body, html {
    height: 100%;
    padding-top: 25px;
    }
    .bg {
    background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(20).jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    opacity: 0.7;
    }